# Conexão com postgres e Relatorios do Sistema

## Instalando biblioteca de acesso com postgres e manipulação de dados e gráficos

In [1]:
!pip install --user psycopg2-binary
!pip install --user seaborn
!pip install --user pandas

Requirement already satisfied: psycopg2-binary in c:\users\luizg\appdata\roaming\python\python37\site-packages (2.7.6.1)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: seaborn in c:\users\luizg\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: scipy>=0.14.0 in c:\users\luizg\anaconda3\lib\site-packages (from seaborn) (1.1.0)
Requirement already satisfied: numpy>=1.9.3 in c:\users\luizg\anaconda3\lib\site-packages (from seaborn) (1.15.1)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\luizg\anaconda3\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=0.15.2 in c:\users\luizg\anaconda3\lib\site-packages (from seaborn) (0.23.4)
Requirement already satisfied: cycler>=0.10 in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.7.3)
Requirement already satisfied: pytz in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2018.5)
Requirement already satisfied: six>=1.10 in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\luizg\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: setuptools in c:\users\luizg\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.2.0)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\luizg\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\luizg\anaconda3\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\users\luizg\anaconda3\lib\site-packages (from pandas) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in c:\users\luizg\anaconda3\lib\site-packages (from pandas) (1.15.1)
Requirement already satisfied: six>=1.5 in c:\users\luizg\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Importando bibliotecas

In [2]:
import seaborn as sns
import pandas as pd
import psycopg2

### Usando psycopg2 para configurar conexão

In [3]:
conn = psycopg2.connect(host="localhost",database="S-Organizer", user="postgres", password="1234")

## Obtendo dados do database S-Organizer

# Relatório 1

### Objetivo: Buscar os 10.000 primeiros prestadores cadastrados e suas respectivas agendas

Código para obtenção do resultado:

In [4]:
test = pd.read_sql_query("""
                            select empresa_id_usuario as empresa,prestador_id_usuario as prestador,data, horafim,horainicio, id
                            from agenda where prestador_id_usuario <= 10000;
                            """,conn)

In [5]:
test

,empresa,prestador,data,horafim,horainicio,id
0,6814,6814,2016-08-23,05:25:29.063000,03:25:29.063000,16
1,9779,9779,2018-01-13,08:21:53.379000,05:21:53.379000,29
2,2416,2416,2013-05-22,23:19:38.383000,20:19:38.383000,45
3,685,685,2014-11-17,13:38:57.308000,11:38:57.308000,57
4,1903,1903,2016-06-16,16:38:39.068000,15:38:39.068000,61
5,8545,8545,2012-02-03,03:23:24.643000,02:23:24.643000,62
6,4992,4992,2016-11-22,20:56:27.494000,19:56:27.494000,65
7,3163,3163,2018-07-15,04:36:47.086000,02:36:47.086000,72
8,4807,4807,2014-12-13,19:36:47.456000,17:36:47.456000,84
9,8702,8702,2012-01-11,19:40:44.340000,16:40:44.340000,101
10,3966,3966,2018-04-07,18:51:30.638000,17:51:30.638000,102
11,7588,7588,2016-03-06,15:19:00.595000,14:19:00.595000,110
12,1557,1557,2016-06-20,11:19:08.850000,08:19:08.850000,111
13,4857,4857,2016-07-19,02:58:47.081000,00:58:47.081000,117
14,7499,7499,2014-06-06,23:22:20.139000,22:22:20.139000,126
15,2133,2133,2018-10-29,11:12:45.996000,09:12:45.996000,142
16,5405,5405,2013-01-16,05:12:51.669000,04:12:51.669000,153
17,7175,7175,2013-08-29,10:26:48.690000,09:26:48.690000,159
18,1707,1707,2017-10-17,01:17:50.302000,22:17:50.302000,166
19,7589,7589,2012-01-01,23:06:52.808000,20:06:52.808000,176
20,6409,6409,2012-01-23,22:14:01.631000,20:14:01.631000,207
21,6686,6686,2017-02-02,18:16:35.519000,16:16:35.519000,244
22,5522,5522,2014-05-01,19:13:36.066000,18:13:36.066000,248
23,9101,9101,2016-07-08,21:27:51.969000,19:27:51.969000,252
24,1223,1223,2016-11-27,04:23:45.770000,02:23:45.770000,253
25,7638,7638,2016-09-13,15:23:35.962000,13:23:35.962000,256
26,528,528,2017-01-09,10:02:20.115000,08:02:20.115000,262
27,3170,3170,2012-10-05,14:03:54.402000,11:03:54.402000,264
28,2003,2003,2018-02-18,11:49:10.783000,09:49:10.783000,281
29,159,159,2018-11-07,11:36:20.061000,08:36:20.061000,283
...,...,...,...,...,...,...
49867,610,610,2018-06-24,17:14:25.289000,16:14:25.289000,499702
49868,5044,5044,2014-10-23,12:47:38.260000,09:47:38.260000,499711
49869,3640,3640,2013-04-02,22:37:19.681000,21:37:19.681000,499728
49870,3369,3369,2012-04-17,20:40:16.336000,18:40:16.336000,499740
49871,5719,5719,2015-01-04,04:14:35.119000,01:14:35.119000,499748
49872,829,829,2016-05-27,03:07:42.428000,00:07:42.428000,499751
49873,3751,3751,2014-01-11,05:06:39.317000,04:06:39.317000,499761
49874,1498,1498,2013-03-19,23:29:26.282000,20:29:26.282000,499775
49875,7433,7433,2012-09-08,05:37:04.381000,04:37:04.381000,499787
49876,3025,3025,2017-01-24,00:02:12.153000,22:02:12.153000,499789
49877,5244,5244,2015-05-19,03:03:53.229000,02:03:53.229000,499794
49878,9303,9303,2016-06-04,21:09:03.766000,20:09:03.766000,499800
49879,7870,7870,2016-02-18,03:06:08.147000,00:06:08.147000,499803
49880,1912,1912,2015-07-12,15:13:15.288000,14:13:15.288000,499811
49881,4967,4967,2013-10-01,09:07:26.377000,07:07:26.377000,499839
49882,8372,8372,2014-03-26,22:41:29.474000,21:41:29.474000,499848
49883,7310,7310,2014-09-02,04:35:59.180000,03:35:59.180000,499851
49884,8273,8273,2018-10-28,09:01:31.859000,08:01:31.859000,499868
49885,1611,1611,2015-07-18,08:20:21.764000,05:20:21.764000,499869
49886,5599,5599,2018-03-25,16:38:14.157000,15:38:14.157000,499877
49887,5757,5757,2012-09-11,08:43:09.744000,05:43:09.744000,499886
49888,3618,3618,2018-07-18,17:00:21.148000,14:00:21.148000,499902
49889,5579,5579,2017-11-13,06:45:26.642000,03:45:26.642000,499904
49890,7112,7112,2014-10-07,10:42:02.021000,08:42:02.021000,499908
49891,6203,6203,2013-11-09,04:06:23.918000,02:06:23.918000,499922
49892,4997,4997,2015-02-08,16:20:22.392000,13:20:22.392000,499942
49893,4549,4549,2018-04-19,02:49:08.565000,23:49:08.565000,499958
49894,7303,7303,2013-08-12,23:03:10.372000,21:03:10.372000,499963
49895,5560,5560,2013-10-23,22:03:13.099000,21:03:13.099000,499990
49896,6059,6059,2017-03-13,14:08:32.375000,12:08:32.375000,499999

# Relatorio2

### Objetivo: Selecionar prestadores e suas respectivas agendas realizadas no dia 01/10/2012

codigo para obtenção do resultado:

In [6]:
result = pd.read_sql_query("""
                            select agenda.data, agenda.prestador_id_usuario as prestador, solicitacao.protocolo
                            from agenda 
                            inner join agenda_solicitacao on(agenda.id = agenda_solicitacao.agenda_id)
                            inner join solicitacao on(agenda_solicitacao.solicitacaododia_protocolo = solicitacao.protocolo)
                            WHERE agenda.data = '2012-10-01'
                            """,conn)

In [7]:
result

           data  prestador  protocolo
0    2012-10-01      85649     138954
1    2012-10-01      85649     421470
2    2012-10-01      85649     559705
3    2012-10-01      85649     800673
4    2012-10-01      72034     135445
5    2012-10-01      72034     600543
6    2012-10-01      72034     934798
7    2012-10-01      29976       9683
8    2012-10-01      29976     435949
9    2012-10-01      84893     689230
10   2012-10-01      82857     253041
11   2012-10-01      82857     329387
12   2012-10-01      82857     384660
13   2012-10-01      84341     795140
14   2012-10-01      84341     860869
15   2012-10-01      84341     934210
16   2012-10-01      89211     376296
17   2012-10-01      90593      54169
18   2012-10-01      90593     130121
19   2012-10-01      84781     319503
20   2012-10-01      84781     472817
21   2012-10-01      84781     835916
22   2012-10-01      33529       7571
23   2012-10-01      33529     218784
24   2012-10-01      33529     779937
25   2012-10-01       5216      41843
26   2012-10-01      79963     175511
27   2012-10-01      83856     449343
28   2012-10-01      83856     678900
29   2012-10-01      83856     833269
..          ...        ...        ...
359  2012-10-01       8882     801860
360  2012-10-01      76294      93344
361  2012-10-01      76294     297544
362  2012-10-01      76294     527197
363  2012-10-01      83597      82089
364  2012-10-01      35068     216680
365  2012-10-01      35068     739937
366  2012-10-01      52600     283889
367  2012-10-01      67862     696949
368  2012-10-01      91385      52948
369  2012-10-01         72     254407
370  2012-10-01         72     674390
371  2012-10-01      10401     404179
372  2012-10-01       9630     196897
373  2012-10-01       9630     323955
374  2012-10-01       9630     552807
375  2012-10-01      46241     106578
376  2012-10-01      46241     372462
377  2012-10-01      46241     882774
378  2012-10-01      41446     192950
379  2012-10-01      41446     649036
380  2012-10-01      14467     238054
381  2012-10-01      14467     302216
382  2012-10-01      14467     704496
383  2012-10-01      14467     998303
384  2012-10-01      44558     396770
385  2012-10-01      44558     898024
386  2012-10-01      74978     137043
387  2012-10-01      74978     625523
388  2012-10-01      74978     698761

[389 rows x 3 columns]

References

## Relatório 3

### Objetivo: Selecionar um número específico de prestadores que atendem solicitações anteriores a 2013, bem como suas empresas contratantes.

codigo para obtenção do resultado:

In [8]:
result = pd.read_sql_query("""
                            select agenda.empresa_id_usuario as empresa,
                            agenda.prestador_id_usuario as prestador,
                            solicitacao.protocolo as protocolo
                            from agenda 
                            inner join agenda_solicitacao on(agenda.id = agenda_solicitacao.agenda_id)
                            inner join solicitacao on(agenda_solicitacao.solicitacaododia_protocolo = solicitacao.protocolo)
                            where agenda.data < '2013-01-01' limit 10;

                            """,conn)

In [9]:
result

   empresa  prestador  protocolo
0    63678      63678     344112
1    63678      63678     891061
2    89877      89877     678566
3    38554      38554     613922
4    38554      38554     705528
5    41560      41560      15109
6    41560      41560      90297
7    41560      41560     801095
8     8545       8545     295782
9     8545       8545     784899

## Relatório 4

### Objetivo: Visualizar os prestadores que atenderam a uma faixa específica de ID’s de solicitações

codigo para obtenção do resultado:

In [10]:
result = pd.read_sql_query("""
                            select agenda.prestador_id_usuario as prestadorDisponivel,
                            solicitacao.protocolo as SolicitacoesPendentes
                            from agenda
                            inner join agenda_solicitacao on(agenda.id = agenda_solicitacao.agenda_id)
                            inner join solicitacao on(agenda_solicitacao.solicitacaododia_protocolo = solicitacao.protocolo)
                            inner join prestador_agenda on(agenda.id = prestador_agenda.agenda_id)
                            inner join prestador on(prestador_agenda.prestador_id_usuario = prestador.id_usuario)
                            where solicitacao.estado = 1 and prestador.disponibilidade = true
                            """,conn)

In [11]:
result

        prestadordisponivel  solicitacoespendentes
0                     96576                    229
1                     45016                   1054
2                     18289                   1203
3                     33711                   1859
4                      1859                   2017
5                     27467                   2560
6                     14520                   2784
7                     40364                   3053
8                     66107                   4110
9                     35953                   4219
10                    41976                   4467
11                    80350                   4508
12                    94597                   4958
13                    56302                   5325
14                    32438                   5563
15                     9947                   5584
16                    15788                   6748
17                     3672                   6805
18                    99610                   6910
19                     8987                   7257
20                    58875                   7527
21                    96410                   7549
22                    34208                   8667
23                    45529                   8903
24                    44460                   9371
25                    48656                   9867
26                     8639                  10206
27                    66092                  10219
28                    85278                  10769
29                    23009                  11362
...                     ...                    ...
100660                39060                 990960
100661                75008                 990996
100662                60737                 991077
100663                 2156                 991206
100664                57229                 991633
100665                77971                 992187
100666                94584                 992318
100667                26978                 992609
100668                60864                 993143
100669                39029                 993984
100670                61497                 994374
100671                55070                 994519
100672                56267                 994739
100673                49288                 994909
100674                63994                 995112
100675                49500                 996164
100676                55637                 996175
100677                31127                 996200
100678                 1864                 996616
100679                 8832                 997215
100680                21859                 997237
100681                24728                 998160
100682                17381                 998172
100683                63235                 998626
100684                47462                 998635
100685                78711                 998638
100686                73459                 998877
100687                36175                 999660
100688                19835                 999759
100689                22584                 999928

[100690 rows x 2 columns]

## Relatório 5

### Objetivo:  gerar informações relativas ao serviço em agenda em uma data específica

In [12]:
result = pd.read_sql_query("""
                    Select servico.valor, servico.categoria_id, servico.descricao, servico.horariomarcado from servico
                    inner join solicitacao_servico on(solicitacao_servico.servicos_id = servico.id)
                    inner join solicitacao on(solicitacao_servico.solicitacao_protocolo = solicitacao.protocolo)
                    inner join agenda_solicitacao on(solicitacao.protocolo = agenda_solicitacao.solicitacaododia_protocolo)
                    inner join agenda on(agenda.id = agenda_solicitacao.agenda_id)
                    Where agenda.data = '2015-03-06' 
                            """,conn)

In [13]:
result

       valor  categoria_id                       descricao   horariomarcado
0     257.26         57621  jxruxzkyuhogejfgxpsr-descricao  08:38:29.941000
1     694.39         28741  lfmkavhizxpxgjlnyyin-descricao  03:15:12.064000
2     521.42          8152  ubdmzwwgzrfkjnqfyylt-descricao  10:34:23.617000
3     630.34         69065  khdufknuspjtqehajwou-descricao  08:25:34.285000
4    1047.53         36882  vdqefgiywyovromqaiup-descricao  13:10:58.312000
5     466.41         12864  nfhsmfoutyjjeignrhid-descricao  15:28:06.913000
6     412.85         40732  rkswpsdolwzunkykksdr-descricao  11:44:53.200000
7    1056.26         95988  khanmchbipbqofpyrydv-descricao  18:11:34.883000
8     344.20         38463  pgpoqzggyurdqqhbzlhr-descricao  07:24:03.585000
9     676.50         16171  stpldgzeodziposqbgwl-descricao  08:40:38.153000
10    472.56         97597  pvkmvtckztkphcxzsacg-descricao  14:02:35.975000
11    631.21         32037  ukvqzoxfeokpcblxvsuk-descricao  14:57:36.868000
12    424.23         83339  vzutngwuhjcqoyojpstg-descricao  08:34:09.232000
13    813.50         31798  aaeemxcjfhioskrdquga-descricao  22:29:49.547000
14    933.16         46330  mqbnokllmmcjtvamayfl-descricao  05:31:08.452000
15    888.94         34111  soonyaswtpcancvglyla-descricao  07:14:04.530000
16    443.36         19570  yqlnmxwshexnuoxyabim-descricao  13:40:03.421000
17   1097.00         74558  xcekyxaoonmvrhdpdfjf-descricao  19:01:40.361000
18    555.75         96873  tjkcgnzsgviweeaqxemb-descricao  12:37:35.923000
19   1070.80         46542  zfpusclpcjacjyyruzpm-descricao  01:19:28.483000
20    213.00         59511  wntbyxmezmbrrnhktzwx-descricao  05:15:37.280000
21    239.19         92881  sqyamkciqlxypmxwwmkz-descricao  15:04:09.174000
22    379.05         70495  mttvgmzfszvwhyjwzkss-descricao  15:45:36.619000
23   1092.97          2066  swuajdxlntlcmtwtqgmo-descricao  21:15:29.740000
24    735.56         61585  euuoynqbybyvgvbdnvcd-descricao  14:59:35.091000
25    582.90         95681  mpldleebcfaqylzcxmkk-descricao  01:53:43.906000
26    811.87         46174  fvbftokdosqugfaizqkj-descricao  05:32:43.754000
27    482.28         31703  saxatlkqwllzpduoylvs-descricao  09:16:43.386000
28    879.31         95016  fgrfudxhpqakriozzvej-descricao  14:15:20.328000
29    630.35         78011  vtkylopyvncvogacrdgc-descricao  11:52:00.615000
..       ...           ...                             ...              ...
566   526.51         72994  wzgtleuqsaxzpfretkpt-descricao  22:20:17.898000
567   521.67         89330  oeflwaxevbjxdlnvkrmv-descricao  08:55:14.735000
568   110.53          1003  jzkflmhsxyykdjejsxxt-descricao  14:03:52.910000
569   201.58          3419  znbpaijkdaolhizezuuk-descricao  05:14:07.382000
570   332.71         35423  lcmjqqjstskuyyonytus-descricao  12:54:06.209000
571   180.82         99545  wgjuxupeyipnezcgpmer-descricao  17:16:08.204000
572   453.57         45789  tybtglxivjxrvzdmsyfg-descricao  09:11:42.298000
573   455.43         89375  bhfediwbrdosiyziujum-descricao  16:34:12.383000
574   991.03         19573  waksxutvnvvcpoobxbzb-descricao  21:29:38.257000
575   524.71         76268  xlywgguwkvizizwqbzqr-descricao  10:44:06.286000
576  1036.23         94248  temrvnxzthxnpvkwxqox-descricao  05:59:07.206000
577   424.65         15755  phhqpfohiacwyppwuizq-descricao  15:28:46.098000
578   968.06         88715  cksuwgflzuotkxxadjga-descricao  07:17:35.626000
579   406.75         43940  voiflhpcvpsclizepjqd-descricao  08:08:53.918000
580   116.16          9564  dcdwslvnjabnlgprncmn-descricao  18:42:41.450000
581   331.43         69283  rxnacsknzpkilhsdmuhl-descricao  16:53:18.209000
582   689.55         79250  dekdnznxbmnypwvwkxtr-descricao  14:10:05.211000
583   733.87         59528  nkmayoscbexwlexuxphs-descricao  16:25:04.491000
584   767.14         39865  ngtzpevbgiddubqgoyyj-descricao  23:09:48.233000
585   575.06         82444  bouqaunpdhnwwqkwpkzt-descricao  20:47:31.406000
586   306.25         54283  popvgfsinuyjkqdstsva-descricao  22:08:19.682000
587   374.94         56495  qqqhgwzshjfxdudqqagc-descricao  22:00:26.444000
588   692.51         54345  jvlenmjjsjhxcbmxogdd-descricao  17:37:00.530000
589  1040.87         49382  ycbsrejtynmsizjmdyxp-descricao  13:27:56.586000
590   472.66         11443  somixxfmhisgsuhmclap-descricao  19:42:04.249000
591   271.57         66329  spzryluvjffikksrzekf-descricao  05:52:07.005000
592   851.71         87542  uacjzanukxtnnberpwdv-descricao  04:15:34.885000
593   523.29         80841  gsohkcagsglqijzrwgxz-descricao  16:25:07.392000
594   901.78         30042  uynqajspexmlrsjllnaq-descricao  18:41:24.737000
595   118.46         68649  czyjhhkpmfcdcxeawexv-descricao  03:52:33.942000

[596 rows x 4 columns]

# Referencias

https://pandas.pydata.org/pandas-docs/stable/style.html <br>
https://pythonspot.com/matplotlib-bar-chart/<br>
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html <br>